body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.chatWrap {
	width: 500px;
	height: 500px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	border: 1px dotted #000000;
}
.allSpeak {
	height: 350px;
}
.mySpeak {
	flex: 1;
	display: flex;
	flex-direction: column;
}
#inputMySpeak {
	flex: 1;
}
